#remove html file extension https://brunnacroches.dev/index.html
# to https://brunnacroches.dev/
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]


#remove html file extension https://brunnacroches.dev/contact.html
# to https://brunnacroches.dev/contact
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]


#remove html file extension https://brunnacroches.dev/about-me.html
# to https://brunnacroches.dev/about-me
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]


#remove html file extension https://brunnacroches.dev/portifolio-grid-creative.html
# to https://brunnacroches.dev/portifolio
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]